body{
    background-color: #EFEFEF;
}

header{
    background-color: lightcoral;
    text-align: center;
    padding: 20px 0;
}

.navegação li{
    display: inline-block;
    border: #000000 1px dotted;
}

.navegação a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.navegação a:hover{
    color: seagreen;
    font-size: 20px;
}

.p1{
    position: relative;
    bottom: 25px;
    left: 25px;
    font-size: 11px;
    font-style: italic;
}

.obg{
    text-align: center;
}

form label{
    display: block;
    margin: 15px 0;
}

form input{
    padding: 2px 0;
    display: block;
    margin: 15px 0;
}

footer div{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #000000;
    color: white;
}

textarea{
    background-color: #EFEFEF;
}

option{
    background-color: #EFEFEF;
}

.final li{
    display: inline-block;
    padding: 0 10px;
}